body {
  margin: 0;
  font-family: 'Comic Neue', cursive;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://i.pinimg.com/1200x/b8/e8/a1/b8e8a18d40181e882e7b8ce8ad064fa2.jpg") no-repeat center center;
  background-size: cover;
}

.home-container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.kitty {
  width: 250px;
}

/* === Nút phát sáng dễ thương === */
#start-btn {
  font-family:'Comic Neue', cursive ;
  font-size: 2rem;
  padding: 15px 40px;
  background: #ff99cc;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 20px #ffb6d9;
  transition: 0.3s;
  animation: glow 1.5s infinite alternate;
}

#start-btn:hover {
  background: #ff66b2;
  transform: scale(1.1);
  box-shadow: 0 0 30px #ff3399, 0 0 50px #ff66cc;
}

/* Hiệu ứng nhấp nháy ánh sáng */
@keyframes glow {
  from {
    box-shadow: 0 0 10px #ff99cc, 0 0 20px #ffb6d9;
  }
  to {
    box-shadow: 0 0 20px #ff66b2, 0 0 40px #ff99cc;
  }
}
